{% extends "base.html" %} {% block title %}Checkout{% endblock %}
{% block content%}
<table>
    <tr>
        <th class="nameCheckout">Name</th>
        <th class="priceCheckout">Price</th>
        <th class="totalCheckout">Total</th>
    </tr>
    {% for row in data %}
    <tr>
        <td> {{ row.name }}</td>
        <td> {{ row.price }}</td>
        <td></td>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td>{{ total }}</td>
    </tr>
    <tr>
        <td><form method="POST"><button type="submit" class="btn buttonDisplay" name="button" value="back"> Back to Product Listing </button></form></td>
        <td></td>
        <td><form method="POST"><button type="submit" class="btn buttonDisplay" name="button" value="continue"> Checkout </button>
        </form></td>
    </tr>
</table>
{% endblock %}