{% extends "base.html" %} {% block title %}Payment{% endblock %}
{% block content%}
<form method="POST">
    <h1>Enter Payment Information</h1>
    <div class="form-group">
        <label for="cardNumber">Card Number</label>
        <input type="text" class="form-control" pattern="[0-9]{16}" id="cardNumber" name="cardNumber" placeholder="XXXXXXXXXXXXXXXX"/>
        <label for="month">Month</label>
        <input type="number" class="form-control" id="month" name="month" min="1" max="12" value="1"/>
        <label for="year">Year</label>
        <input type="number" class="form-control" id="year" name="year" min="2021" max="2023" value="2021"/>  
        <label for="cvv">CVV</label>
        <input type="text" class="form-control" pattern="[0-9]{3}" id="cvv" name="cvv" placeholder="XXX"/>
    </div>
    <h2>Total = {{ total }}</h2>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" name="button" value="back"> Back to Product Listing </button>
        <button type="submit" class="btn btn-primary" name="button" value="pay"> Pay </button>
    </div>
</form>
{% endblock %}