{% extends "base.html" %} {% block title %}ProductList{% endblock %}
{% block content%}
<table>
    <tr class="customRow">
        <th class="name">Name</th>
        <th class="abv">ABV</th>
        <th class="style">Beer Style</th>
        <th class="price">Price</th>
        <th>View Product Page</th>
    </tr>
    {% for row in data %}
    <tr>
        <td class="customData"> {{ row.name }}</td>
        <td class="customData"> {{ row.abv }}</td>
        <td class="customData"> {{ row.primaryBeerStyle }}</td>
        <td class="customData"> {{ row.price }}</td>
        <td class="customData"> <form method='POST'><button type="submit" class="btn buttonDisplay" name="button" value="{{ row.id }}"> View Product Page </button></form></td>
    </tr>
    {% endfor %}
    <tr>
        <td>
            <form method='POST'>
            {% if page > 0 %}
            <button type="submit" class="btn buttonDisplay" name="button" value="previous"> Previous Page </button>
            {% endif %}
            </form>
        </td>
        <td></td><td></td><td></td>
        <td>
            <form method='POST'>
            {% if flag == 0 %}
            <button type="submit" class="btn buttonDisplay" name="button" value="next"> Next Page </button>
            {% endif %}
            </form>
        </td>
    </tr>
    <tr>
        <td></td><td></td><td></td><td></td>
        <td><form method='POST'><button type="submit" class="btn buttonDisplay" name="button" value="Checkout"> View Cart </button></form></td>
    </tr>
</table>
{% endblock %}