{% extends "base.html" %} {% block title %}Admin{% endblock %}
{% block content%}
<form method="POST">
    <div class="adminDiv">
        <input type="text" class="form-control" id="readID" name="readID" placeholder="Enter ID"/>
        <button type="submit" style="width: 200px;" class="btn buttonDisplay" name="button" value="read">Search Database</button>
    </div>
    <div class="adminButtonDiv">
        <button type="submit" class="btn buttonDisplayAdmin" name="button" value="create">Create New Database Entry</button>
    </div>
    <div class="adminButtonDiv">
        <button type="submit" class="btn buttonDisplayAdmin" name="button" value="initialize">Initialize Database</button>
    </div>
</form>
{% endblock %}