{% extends "base.html" %} {% block title %}EditDatabase{% endblock %}
{% block content%}
<form method="POST">
    <table>
        <tr>
            <td><input type="text" class="form-control" id="readID" name="readID" placeholder="Enter ID"/></td>    
            <td><button type="submit" class="btn btn-primary" name="button" value="read">Read Database Entry</button></td>
        </tr>  
        <tr>
            <td><input type="text" class="form-control" id="updateID" name="updateID" placeholder="Enter ID"/></td>    
            <td><button type="submit" class="btn btn-primary" name="button" value="update">Update Database Entry</button></td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary" name="button" value="back"> Back </button>
</form>
{% endblock %}