{% extends "base.html" %} {% block title %}SearchFrequency{% endblock %}
{% block content%}
<table>
    <tr>
        <th class="nameRetailer">Name</th>
        <th class="searchFreq">Search Frequency</th>
        <th>Product ID</th>
    </tr>
    {% for row in data %}
    <tr>
        <td> {{ row.name }}</td>
        <td> {{ row.searchFreq }}</td>
        <td> {{ row.id }}</td>
    </tr>
    {% endfor %}
</table>
<form method="POST">
    <button type="submit" class="btn buttonDisplay" name="button" value="back"> Back </button>
</form>
{% endblock %}